body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

h1 {
  color: #66BFBF;
  margin: 0;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.myima{
  /* width: 40%; */
  padding-top: 50px;
}

.para {
  color: #66BFBF;
  font-weight: bolder;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.bc{
  background-color: #66BFBF;
  padding-bottom: 40px;
  padding-top: 20px;
}

.footer-link{
  color: #11999E;
  padding-right: 10px;
  padding-bottom: 35px;
}

.cme{
  padding-top: 20px;
  padding-bottom: 15px;
}

.cm{
  /* padding-top: 35px;
  padding-bottom: 80px; */
  padding: 60px;
}

.button{
  background-color: #66BFBF;
  color: white;
  border: 2px #4CAF50;
  padding: 2px;
  font-size: 80%;
}

.top-container {
  size : 300px;
  margin: 0;
  background-color: #B8DFD8;
  position: relative;
  padding: 60px 0 0 0;
}

.mountain{
  text-align: center;
}

.prog {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.dev {
  width: 25%;
  float: left;
  margin-right: 30px;
}

hr {
  background-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 100%;
}

/*.pro{
  width: 25%;
  float: left;
}

.dev{
  width: 25%;
  float: left;
}*/

 .middle-container{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj55xgGMktiDCR8aB9TB4xy_K7lLIItRPb9w&usqp=CAU);
  background-size: contain;
}

.skills {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-cloud {
  position: relative;
  bottom: 300px;
  right: auto;
}

.top-cloud {
  position: relative;
  left: 300px;
  top: 30px;
}
